html {
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
}

.mobile {
    display: none;
}

.mobile .mobile-logo {
    margin: 10px auto 0;
    width: 64px;
    height: 37px;
}

.mobile .hamburger-icon {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 1.4em;
    cursor: pointer;
}

.side-bar .close-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.4em;
    cursor: pointer;
    z-index: 2;
    display: none;
}

.side-bar {
    border-right: 2px solid #bbb;
    width: 14%;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
}

.side-bar .logo {
    padding: 10px 10px;
    text-align: center;
}

.side-bar .logo img{
    width: 64px;
    height: 37px;
}

.list-container .sections-list {
    padding: 0;
    font-size: .9rem;
}

.list-container .sections-list .section-item {
    list-style-type: none;
    padding: 5px 0 5px 30px;
}

.list-container .sections-list .section-item a {
    color: #666;
    text-decoration: none;
}

.list-container .sections-list .section-item a:hover {
    color: #444;
}

.list-container .sections-list .list-title {
    color: #222;
    font-size: .95rem;
    padding-top: 10px;
}

.content {
    background-color: white;
    width: 80%;
    padding: 2%;
    overflow-y: auto;
    position: absolute;
    right: 0;
    margin-top: 35px;
}

.content .page-title, .content .title {
    color: #444;
}

.content .subtitle {
    color: #555;
    margin: 0;
}

.section-container {
    color: #555;
    display: flex;
}

.section-item {
    width: 48%;
    padding: 10px 0 0 2%;

}

.section-item p a {
    text-decoration: none;
    color: #3A718C;
}

.section-item p a:hover {
    color: #185f6a;
}

.section-item .changelog-title {
    font-weight: bold;
}

.section-item .code-container {
    width: 90%;
}

.section-item .code-container .code-title {
    background-color: #2d2d2d;
    border-radius: 10px 10px 0 0;
    color: #bbbbbb;
    padding: 10px 0 0 15px;
}

.section-item .code-container .language-json {
    border-radius: 0 0 10px 10px;
    margin-top: 0;
    font-size: .8rem;
}

.section-item .api-endpoint {
    background-color: #7db5cf;
    padding: 10px 5px;
    border-radius: 10px;
    color: #555;
}

.section-item .api-endpoint .http-verb {
    background-color: #3A718C;
    color: white;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 8px;
}

/****************************/
/*********RESPONSIVE*********/
/****************************/

@media screen and (max-width: 600px) {
    .side-bar {
        left: -100%;
        display: block;
        width: 100%;
        z-index: 1;
        background-color: white;
        overflow-x: hidden;
    }

    .side-bar .close-icon {
        display: block;
    }

    .shown-sidebar {
        left: 0;
        transition: left .5s;
    }

    .hidden-sidebar {
        left: -100%;
        transition: left .5s;
    }

    .content {
        width: 95%;
        left: 0;

    }

    .content .mobile {
        display: block;
        text-align: center;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #fff;
    }

    .content .mobile .mobile-logo {
        left: 50%;
        transform: translateX(-25%);
    }

    .section-container {
        display: block;
    }

    .section-item {
        width: 100%;
        padding-left: 0;
    }
}

