html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*********** LANDING ***********/

.landing {
    background: rgb(67,145,184);
    background: linear-gradient(90deg, rgba(67,145,184,1) 0%, rgba(89,185,204,1) 35%, rgba(90,196,218,1) 100%);
    width: 100%;
    height: 90vh;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
}

.container .dark-bg {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    transition: background-color .5s;
}

.hidden {
    display: none;
}

.landing .nav-bar {
    position: absolute;
    right: 30px;
    top: 10px;
}

.landing .nav-bar ul {
    display: flex;
}

.landing .nav-bar ul li {
    list-style-type: none;
    margin-left: 10px;
}

.landing .nav-bar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1em;
}

.landing .landing-window {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #185f6a;
    right: 20px;
    top: 20px;
    height: 150px;
    width: 220px;
    text-align: center;
}

.landing .landing-window img {
    margin-top: 15px;
    width: 150px;
    height: 87px;
}

.landing .landing-window input {
    color: white;
    border-radius: 20px;
    width: 160px;
    height: 30px;
    border: 0;
    background-color: #185f6a;
    font-weight: bold;
    font-size: .9em;
    cursor: pointer;
}

.landing-text {
    text-align: center;
    color: white;
    margin: 0 0 20px 0;
}

.landing-text .title {
    font-size: 4em;
    margin: 0;
}

.landing-text .subtitle {
    font-size: 1.2em;
    margin: 10px;
}

.landing .form-container form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.landing .form-container form > * {
    margin-right: 10px;
}

.landing .form-container form input[type="button"],
.form-container .tree-view-container .tree-view .filter-container input{
    width: 250px;
    height: 40px;
    color: #185f6a;
    font-weight: bold;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    border: 2px solid #185f6a;
}

.landing .form-container form span {
    color: white;
}

.landing .form-container form input[list="depts"] {
    border-radius: 5px;
    height: 2.5em;
    border: 1px solid #ccc;
    width: 400px;
}


.landing .form-container .submit-btn-container {
    flex-basis: 100%;
}

.landing .form-container .submit-btn {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    background-color: #185f6a;
    color: white;
    font-weight: bold;
    display: block;
    margin: 10px auto;
    cursor: pointer;
}

.selector {
    width: 200px;
}

.tree-view-container .close-btn {
    padding: 3px;
    color: #185f6a;
    font-weight: bold;
    font-size: 2em;
    position: absolute;
    cursor: pointer;
    right: 15px;
    top: 5px;
    z-index: 2;
}

.form-container .tree-view-container {
    position: absolute;
    width: 60%;
    height: 45vh;
    background-color: white;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border: 2px solid #185f6a;
    border-radius: 20px;
}

.form-container .tree-view-container {
    height: 60vh;
    transition: height .5s;
    display: none;
}

.form-container .tree-view-container .tree-view {
    overflow: scroll;
    height: 60vh;
    padding: 10px;
    list-style-type: none;
    color: #555555;
    position: relative;
}

.form-container .tree-view-container .tree-view .filter-container input{
    width: 150px;
    height: 30px;
}

.form-container .tree-view-container .tree-view .filter-container {
    display: inline-block;
}

.form-container .tree-view-container .tree-view ul > * {
    list-style-type: none;
}

/********* SECTION INFO *********/

.section-info {
    width: 80%;
    margin: 30px auto;
}

.section-info .column-container {
    display: flex;
}

.section-info .subtitle {
    text-align: center;
    color: #3A718C;
    font-size: 1.8em;
}

.section-info .section-column {
    width: 33%;
    text-align: center;
}

.section-info .section-column h5 {
    color: #3A718C;
    font-size: 1.4em;
}

.section-info .section-column  .fas{
    color: #3A718C;
    font-size: 4em;
    margin: 10px 0 20px 0;
}

.section-info .section-column p {
    width: 70%;
    color: #3A718C;
    margin: 0 auto;
}

.section-info .cta-top {
    width: 100%;
    margin: 30px 0;
    text-align: center;
}

.section-info .cta-top a {
    display: block;
}

.section-column-left .stats-cta {
    margin-top: 30px;
}

.section-info input, .section-api input {
    color: white;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    border: 0;
    background-color: #185f6a;
    font-weight: bold;
    font-size: .9em;
    cursor: pointer;
}

/********* SECTION API **********/

.section-api {
    clip-path: polygon(0 19%, 100% 0, 100% 81%, 0% 100%);
    background: rgb(89,185,204);
    background: linear-gradient(90deg, rgba(90,196,218,1) 0%, rgba(89,185,204,1) 35%, rgba(67,145,184,1) 100%);
    padding-bottom: 100px;
}

.section-api .section-container {
    width: 70%;
    margin: 0 auto;
}

.section-api h4 {
    color: white;
    font-size: 3em;
    padding-top: 100px;
    text-align: center;
}

.section-api .section-container {
    display: flex;
    color: white;
}

.section-api .section-container .section-column-left {
    width: 30%;
    margin-left: 50px;
    position: relative;
}

.section-container .section-column-left .fas {
    font-size: 6em;
    position: absolute;
    transform: translateY(-50%);
}

.section-api .section-container .section-column-right {
    width: 70%;
}

/********* FOOTER *********/

.footer {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px 0 0 0;
}

.footer-text {
    display: block;
    width: 100%;
    color: #777;
    text-align: center;
}

.footer-text a {
    text-decoration: none;
    color: #777;
}

.footer-text a:hover {
    text-decoration: underline;
}

/********* RESPONSIVE *********/


@media screen and (max-width: 620px) {
    .landing .form-container form input[list="depts"] {
        width: 90%;
        margin-top: 10px;
    }

    .landing .landing-window {
        display: none;
    }

    .tree-view-container .close-btn {
        right: 10px;
        top: 10px;
    }

    .form-container .tree-view-container {
        width: 80%;
    }

    .form-container .tree-view-container .tree-view .filter-container {
        text-align: center;
    }

    .section-info .column-container {
        flex-direction: column;
    }

    .section-info .section-column {
        width: 90%;
        margin: 0 auto;
    }

    .section-api .section-container {
        flex-direction: column;
    }

    .section-api .section-container .section-column-right,
    .section-api .section-container .section-column-left{
        width: 100%;
        text-align: center;
    }

    .section-api .section-container .section-column-left {
        padding: 25px 0 50px;
        margin-left: 0;
    }

    .section-container .section-column-left .fas {
        transform: translate(-60px, -60px);
    }
}

@media screen and (min-width: 1824px) {
    .landing {
        height: 60vh;
    }

    .form-container .tree-view-container {
        height: 40vh;
        width: 40vw;
    }

    .form-container .tree-view-container .tree-view {
        height: 40vh;
    }
}

@media screen and (orientation: portrait) and (min-height: 1900px) {
    .landing {
        height: 40vh;
    }
}
