html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgb(67,145,184);
    background: linear-gradient(90deg, rgba(67,145,184,1) 0%, rgba(89,185,204,1) 35%, rgba(90,196,218,1) 100%);
    color: white;
}

.nav-bar .logo {
    font-weight: bold;
    font-size: 1.2em;
    cursor: default;
}

.nav-bar .back a {
    color: white;
    text-decoration: none;
}

.landing {
    width: 95%;
    margin: 10px auto;
}

.landing .chart {
    height: 100%;
}

.landing .row {
    display: flex;
    justify-content: space-between;
    color: #555555;
}

.landing .dept-container {
    border-radius: 20px;
    padding-right: 15px;
    position: relative;
    cursor: pointer;
}

.selected {
    background-color: #eee;
}

.landing .dept-container:hover {
    background-color: #eee;
}

.landing .dept-container .remove-dept {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    font-size: .8em;
}

.landing .dept-container .dept {
    font-size: 1em;
    font-weight: bold;
}

.landing .dept-container .uni {
    font-size: 1em;
}

.landing .compare-button {
    position: relative;

}

.landing .search-field input[type=button] {
    border: 0;
    background-color: #185f6a;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}

.landing .compare-button .search-field {
    position: absolute;
    border: 1px solid #bbb;
    border-radius: 20px;
    padding: 10px;
    box-shadow: #bbb 1px 1px 1px 1px;
    top: 40px;
    left: -350px;
    width: auto;
    background-color: white;
}

.landing .chart .base .search-field .year-filter input{
    width: 70%;
}

.landing .compare-button .search-field input {
    margin-right: 10px;
}

.landing .compare-button .search-field .list {
    width: 400px;
}

.landing .chart .base {
    margin-top: 10px;
    width: 40%;
    text-align: center;
    overflow: auto;
    position: relative;
}

.landing .chart .base a {
    text-decoration: none;
}

.landing .chart .base div {
    margin: 1em 0;
    color: #555555;
}

.dept-list {
    margin: 10px auto 0 auto;
    width: 30%;
    text-align: center;
    overflow: auto;
    height: 100%;
    position: absolute;
    right: 0;
}

.dept-list a {
    text-decoration: none;
}

.dept-list div {
    margin: 1em 0;
    color: #555555;
}

.dept-list .dept-container {
    border-radius: 20px;
    padding-right: 15px;
    position: relative;
    cursor: pointer;
}

.dept-list .dept-container:hover {
    background-color: #eee;
}

.dept-list .dept-container .remove-dept {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    font-size: .8em;
}

.dept-list .dept-container .dept {
    font-size: 1em;
    font-weight: bold;
}

.dept-list .dept-container .uni {
    font-size: 1em;
}

.dept-list .compare-button .search-field input {
    margin-right: 10px;
}

.dept-list .compare-button .search-field .list {
    width: 400px;
}

.dept-list .search-field input[type=button] {
    border: 0;
    background-color: #185f6a;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}

.landing .chart .chart-container {
    width: 80%;
    text-align: right;
}

.landing .chart {
    margin: 20px 0 0;
    width: 100%;
    display: flex;
}

#details {
    display: flex;
    flex-direction: row;
}

.landing {
    color: #555555;
}

#details {
    margin-top: 100px;
}

.landing .details-container {
    width: 70%;
    height: auto;
}

.landing .dept-details {
    margin-top: 60px;
}

.landing .base-details span {
    margin-right: 10px;
}

.landing .base-details .year {
    font-weight: bold;
}

.landing .stats-details .chart-container {
    display: flex;
}

.landing .stats-details .chart-container div {
    width: 50%;
}

select {
    width: 150px;
    height: 40px;
}

.type-container {
    text-align: center;
}

.scroll-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #185f6a;
    box-shadow: #2d2d2d 1px 1px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.scroll-btn a {
    color: #185f6a;
}

.scroll-btn i {
    font-size: 1.2em;
    color: #185f6a;
}

.landing .chart .base .btn-container {
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    position: absolute;
}

/******* RESPONSIVE *******/

@media screen and (max-width: 600px) {
    .landing .chart {
        flex-direction: column;
    }

    .landing .chart .base, .landing .chart .chart-container {
        width: 100%;
    }

    .landing .stats-details .chart-container {
        display: block;
    }

    .landing .stats-details .chart-container div {
        width: 100%;
    }

    .landing .chart .base {
        overflow: visible;
    }

    .landing .chart .base .btn-container {
        top: 150px;
    }

    #details {
        flex-direction: column;
    }

    #details .dept-list {
        position: static;
        width: 100%;
    }

    #details .details-container {
        width: 100%;
    }
}

